#about {
    padding-top: 88px;
}

#about .social h2 {
    color: #121314;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    max-width: 580px;
    margin-bottom: 32px;
}

#about .social .follow-me {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

#about .social .follow-me p {
    margin-right: 8px;
}

#about .content p {
    color: #485057;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 32px;
}

#about .content .cta {
    display: flex;
    align-items: center;
    gap: 24px;
}

#about .content .cta a {
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 4px;
}

#about .content .cta a:nth-child(1) {
    color: #fff;
    background-color: #1777e5;
}

#about .content .cta a:nth-child(2) {
    color: #121314;
    background-color: #f5f6f7;
}

#about .gallery {
    margin-top: 88px;
    position: relative;
}

#about .gallery .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 748px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
}


#about .gallery .swiper-button-prev {

    box-shadow: 0 12px 48px rgba(18, 19, 20, 0.12);
    background-color: white;
    padding: 24px;
    border-radius: 50%;
}

#about .gallery .swiper-button-prev::after {
    font-size: 24px;
}

#about .gallery .swiper-button-next {

    box-shadow: 0 12px 48px rgba(18, 19, 20, 0.12);
    background-color: white;
    padding: 24px;
    border-radius: 50%;
}

#about .gallery .swiper-button-next::after {
    font-size: 24px;
}