footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p {
    margin: 0;
  }

  .copyright {
    padding: 32px 0;
    text-align: center;

    @media (max-width: 768px) {
      padding: 20px;
    }

    font-size: 18px;
    line-height: 24px;
    color: #5e6971;
  }

  .content {
    padding: 164px 0;
    background-color: #fff;
    background: rgba(238, 174, 202, 0.5);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 0.2) 0%,
      rgba(148, 187, 233, 0.1) 100%
    );

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    @media (max-width: 992px) {
      padding: 80px 0px;
    }

    .heading {
      text-align: center;

      h2 {
        @media (max-width: 992px) {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 32px;
        }

        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        color: #121314;
        margin-bottom: 64px;

        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
    }

    .details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      gap: 24px;

      @media (max-width: 768px) {
        grid-template-columns: auto;
      }

      .box {
        text-decoration: none;

        p {
          margin-top: 24px;
          margin-bottom: 8px;
          line-height: 20px;
          color: #5e6971;
        }

        h3 {
          @media (max-width: 992px) {
            font-size: 20px;
            line-height: 28px;
          }

          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          color: #121314;
        }
      }
    }
  }
}
