#about-hero {
    padding: 5% 0;
}

#about-hero h4 {
    margin: 20px 0;
}

#about-work {
    padding: 5% 0;
    background-color: #f1f5f9;
}

#about-work h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

#about-education {
    padding: 5% 0;

}

#about-education h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media (max-width:768px) {
    #about-hero {
        padding: 10% 0;
    }

    #about-hero img {
        height: 350px;
        width: 94vw;
    }

    #about-hero h2 {
        text-align: center;
        margin-top: 20px;
    }

    #about-work {
        padding: 10% 0;
    }

    #about-work img {
        width: 94vw;
    }

    #about-education {
        padding: 10% 0;
    }

    #about-education img {
        width: 94vw;
    }
}