@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1200px;
}

header .navbar {
    transition: all .5s ease-out;
}

header .navbar .navbar-brand h2 {
    color: white;
}


header .navbar .navbar-nav .nav-link {
    color: white;
}

header.scrolled .navbar {
    background-color: white;
    box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.1);
}

header.scrolled .navbar .navbar-brand h2 {
    color: black;
}

header.scrolled .navbar .navbar-nav .nav-link {
    color: black;
}

/* Braedcrumbs */
.breadcrumbs {
    margin-top: 64px;
    padding: 15% 0;
    background: url("/about-breadcrumb.jpg") no-repeat;
    background-size: cover;
}

/* .breadcrumbs .About {
    padding: 15% 0;
    background: url("/about-breadcrumb.jpg") no-repeat;
    background-size: cover;
} */

.breadcrumbs h3 {
    font-size: 80px;
    font-weight: 600;
}