@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    overflow-x: clip;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1200px !important;
}

header .navbar {
    transition: all .5s ease-out;
}

header .navbar .navbar-brand h2 {
    color: white;
}


header .navbar .navbar-nav .nav-link {
    color: white;
}

.pageHeader .navbar {
    background-color: white;
    box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.1);
}

.pageHeader .navbar .navbar-brand h2 {
    color: #000;
}

.pageHeader .navbar .navbar-nav .nav-link {
    color: #000;
}

.pageHeader .scrolled .navbar .navbar-brand h2 {
    color: black;
}

.pageHeader .scrolled .navbar .navbar-nav .nav-link {
    color: black;
}

header.scrolled .navbar {
    background-color: white;
    box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.1);
}

header.scrolled .navbar .navbar-brand h2 {
    color: black;
}

header.scrolled .navbar .navbar-nav .nav-link {
    color: black;
}

/* Braedcrumbs */
.breadcrumbs {
    margin-top: 64px;
}

.breadcrumbs .about {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/about-breadcrumb.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs .contact {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/contact-breadcrumb.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs .drums {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/contact-breadcrumb.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs .violin {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/contact-breadcrumb.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs .vocals {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/contact-breadcrumb.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs .guitar {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/contact-breadcrumb.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs .videos {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/contact-breadcrumb.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs .audio {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/contact-breadcrumb.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs h3 {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

/* backtoptop */
.backToTopButton {
    z-index: 999;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #000; */
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}

.backToTopButton i {
    font-size: 30px;
}

/* experience component */

.experience {
    margin: 20px 0;
}

.experience .title {
    font-size: 30px;
}

.experience .company-name {
    margin-bottom: 10px;
}

.experience .duration {
    margin-bottom: 5px;
}

.experience .location {
    margin-bottom: 10px;
}

.experience .description {
    font-style: italic;
}

/* education component */
.education {
    margin: 20px 0;
}

.education .institute {
    font-size: 30px;
}

.education .course {
    margin-bottom: 10px;
}

.education .duration {
    margin-bottom: 5px;
}

.education .location {
    margin-bottom: 10px;
}

.education .description {
    font-style: italic;
}

/* footer */

footer {
    padding-top: 5%;
    background-color: #000;
    color: #fff;
}

footer p {
    margin: 20px 0;
}

footer .follow ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

footer .follow ul li a {
    font-size: 30px;
    margin-right: 20px;
    color: #fff;
}

footer .links ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

footer .links ul li a {
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 20px;
    color: #fff;
}

footer .contact ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

footer .contact ul li {
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
}

footer .bottom-footer {
    border-top: 1px solid #fff;
    padding: 20px 0;
    margin-top: 5%;

}

/* VideoBox */
.video-box {
    margin: 5% 0;
}

@media (max-width:786px) {
    .mainHeader .navbar-collapse.show {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px;
    }

    .mainHeader .navbar-collapse {
        padding: 20px;
        margin-top: 20px;
        transition: all 0.3s ease-in-out;
    }

    .breadcrumbs {
        margin-top: 55px;
    }

    .mainHeader .navbar-toggler {
        border-color: #fff;
    }

    .mainHeader .navbar-toggler svg {
        fill: #fff
    }

    .pageHeader .navbar-toggler {
        border-color: #000;
    }

    .pageHeader .navbar-toggler svg {
        fill: #000
    }

    .scrolled .navbar-toggler {
        border-color: #000;
    }

    .scrolled .navbar-toggler svg {
        fill: #000
    }

    .video-box {
        margin: 10% 0;
    }


    .video-box iframe {
        height: 250px;
    }
}