@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1200px !important;
}

header .navbar {
    transition: all .5s ease-out;
}

header .navbar .navbar-brand h2 {
    color: white;
}


header .navbar .navbar-nav .nav-link {
    color: white;
}

.pageHeader .navbar {
    background-color: white;
    box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.1);
}

.pageHeader .navbar .navbar-brand h2 {
    color: #000;
}

.pageHeader .navbar .navbar-nav .nav-link {
    color: #000;
}

.pageHeader .scrolled .navbar .navbar-brand h2 {
    color: black;
}

.pageHeader .scrolled .navbar .navbar-nav .nav-link {
    color: black;
}

header.scrolled .navbar {
    background-color: white;
    box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.1);
}

header.scrolled .navbar .navbar-brand h2 {
    color: black;
}

header.scrolled .navbar .navbar-nav .nav-link {
    color: black;
}

/* Braedcrumbs */
.breadcrumbs {
    margin-top: 64px;
}

.breadcrumbs .about {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/about-breadcrumb.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs .contact {
    padding: 15% 0;
    background: linear-gradient(180deg, rgba(1, 47, 90, 0.50), rgba(1, 47, 90, 0.50)), url("/contact-breadcrumb.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.breadcrumbs h3 {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}

.backToTopButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #000; */
    border-radius: 50%;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}

.backToTopButton i {
    font-size: 30px;
}

/* experience */

.experience {
    margin: 20px 0;
}

.experience .title {
    font-size: 30px;
}

.experience .company-name {
    margin-bottom: 10px;
}

.experience .duration {
    margin-bottom: 5px;
}

.experience .location {
    margin-bottom: 10px;
}

.experience .description {
    font-style: italic;
}

.education {
    margin: 20px 0;
}

.education .institute {
    font-size: 30px;
}

.education .course {
    margin-bottom: 10px;
}

.education .duration {
    margin-bottom: 5px;
}

.education .location {
    margin-bottom: 10px;
}

.education .description {
    font-style: italic;
}