#hero {
    height: 100vh;
    background-color: white;
    background: linear-gradient(180deg, rgba(36, 36, 36, 0.60), rgba(36, 36, 36, 0.60)), url("/hero-image.webp") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding: 17% 0;
}

#hero h3 {
    margin-top: 40px;
    color: #fff;
    font-size: 50px;
}

#hero h1 {
    color: #fff;
    margin: 35px 0;
}


#hero a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: black;
    padding: 10px 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 20px;
}

#quote {
    background-color: #262626;
    color: #fff;
    padding: 5% 0;
}

#quote p {
    font-size: 24px;
    margin-bottom: 10px;
}

#quote p:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
}

#about {
    padding: 5% 0;
}

#about img {
    border-radius: 20px;
}


#about h4 {
    margin: 20px 0;
}

#gallery-home {
    padding: 5% 0;
    background-color: #f1f5f9;
}

#gallery-home h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

#gallery-home .gallery {
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

#feature {
    padding: 5% 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/feature-bg.webp") no-repeat;
    background-size: cover;
}

#feature iframe {
    height: 550px;
}

#tutorials {
    padding: 5% 0;

}

#tutorials h2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 600;
}

#tutorials a {
    text-decoration: none;
    display: block;
}


#tutorials .class-box {
    padding: 30px 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#tutorials .class-box i {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: #000;
}

#tutorials .class-box h3 {
    color: #000;
    margin: 20px 0;
}

#tutorials .class-box p {
    color: #000;
}

#contact {
    padding: 5% 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/contact-bg.webp") no-repeat;
    background-size: cover;
    background-position: center center;
}

#contact h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

#contact .ct-box {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact .ct-box i {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) {

    #hero {
        height: auto;
        padding: 40% 0;
        background-size: auto;
        background-position: top;
    }

    #about {
        padding: 10% 0;
    }

    #about img {
        margin: 0 auto;
        width: 100%;
    }

    #about h2 {
        margin-top: 40px;
        text-align: center;
    }

    #gallery-home {
        padding: 10% 0;
    }

    #gallery-home .gallery {
        grid-template-columns: auto;
    }

    #feature {
        padding: 10% 0;
    }

    #feature iframe {
        height: 200px;
    }

    #tutorials {
        padding: 10% 0;
    }


    #tutorials .class-box {
        margin: 2%;
    }

    #contact {
        padding: 10% 0;
    }

    #contact .ct-box {
        justify-content: flex-start;
        padding-left: 5%;
        padding-bottom: 20px;
    }
}